<a href="/sections">Section Index</a>

<h1><%= @section.name %></h1>

<p>Section_full?:<%= @section.section_full %></p>
<p>Created Date:<%= @section.created_date %></p>
<a href="/section/"<%= @section.id %>/edit">Edit</a>
